<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.DB_PaloquemaoConnectionString"
            connectionString="Data Source=SHINOBI\MOHAN;Initial Catalog=ACMDistribuidores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ACMDistribuidoresConnectionString"
            connectionString="Data Source=SHINOBI\MOHAN;Initial Catalog=ACMDistribuidores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.ACMDistribuidoresConnectionString1"
            connectionString="Data Source=SHINOBI\MOHAN;Initial Catalog=ACMDistribuidores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>